.Navbar {
  width: 15%;
  height: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* border: 1px solid; */
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
}

.Navbar--button {
  margin: 10px;
  width: 60%;
  height: 4%;
  background-color: lightgray;
  color: #454545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Navbar--button:hover {
  background-color:#454545;
  color: lightgray;
}

.App--body {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.ToDoBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1px;
  font-size: 15px;
}

.ToDoBody--addItem {
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
}

.addItem--text {
  border: none
}

.addItem--text:focus {
  outline: none;
}

.todoItem {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid black; */
}

.todoItem:hover {
  box-shadow: 2px 2px 5px lightgray;
  /* border-radius: 5px; */
}